$font-1:'Lato', sans-serif;
$font-2:'Ubunto', sans-serif;
$grey-1: white;
$grey-2: #F2F2F2;
$grey-3: rgb(229, 229, 229);
$grey-4:#B4B4B4;
$grey-5:#969696;
$grey-6:#555555;
$grey-6:#555555;
$grey-7:#555555;
$color-1:#D62229;
$color-2:#0DB80D;
$color-3:rgb(229, 229, 229);
$color-4:#F7A710;
$color-5:#9370E9;
$color-6:#DDD5F8;
$shadow-1:3px 3px 3px rgba(0, 0, 0, 0.81);



/* wrapper */
.wrapper, .wrap {
  max-width: 2000px;
  width: 100%;
  margin:0 auto;
  position:relative;
}

.page-wrapper, .p-wrap {
  position:relative;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-right:20px;
  padding-left:20px;
}


/*======================================================== 
header 
========================================================== */
.header {
  position:absolute;
  width:100%;
  top:110px;
  margin:0;
  z-index: 200;
}

/* business information across the top of header */

.business-info {
  //background:rgba(255,255,255,.6);
    a {
      color: $color-2;
    }
    .top-wdgt-l {
      color:black;
      float: left;
    }
     .top-wdgt-r {
      color:black;
      float: right;
    }
      li {
        display: inline-block;
        margin-left: 20px;
        color: white;
    }
}

/* ==============================================================
logo
================================================================= */

.logo {
  float:left;
  width:270px;
  display: block;
  position: absolute;
  top:-90px;
  padding:0px;
  a:hover {
    color: black !important;
    border:none;
  }

}

.logo-img {
  width:100%;
  margin: 0;
}

/* ============================================================
nav 
================================================================*/


.nav {
  //background:rgba(255,255,255,.6);
  height:100px;
  padding:0;
  display: block;
  position: relative;
  z-index: 10;
  //  border-bottom: solid 1px $grey-4;
   ul {
      margin: 0;
      padding: 0;
      float: right;
      position:absolute;
      right:0;
      bottom:20px;
     }
    li {
      position:relative;
      display:inline-block;
      margin-left: -4px;
      a {
        display:block;
        color: black;
        padding: 10px 20px;
        font-size: 16px;
        position: relative;

      }
    }
    a:before {
      content:"";
      width:0px;
    }

    a:hover:before {
      transition: width.4s;
      position:absolute;
      margin:auto;
      right:0;
      left:0;
      content:"";
       border-bottom:solid 5px $color-1;
       width:60px;
       height:40px;
    }

    ul.sub-menu {
    display:none;
    a{
      padding:10px;
      width:300px
      }
    }
  }

.nav ul li:hover > ul.sub-menu {
display:block;
z-index:99;
position:absolute;
top:30px;
margin:0px 0px 0px -16px;
padding:0px;
border:1px #808080 solid;
background-color:#fff;
width:300px;
}

.current_page_item a {
color: black;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}


/* ===============================================================
footer items
=================================================================== */

.footer-items {
    padding:20px 0;
    p {
      margin:0 0 10px;
    }
    background:$color-3;
    padding: 25px 0;
    border-top: solid 1px $grey-2;
    color: rgb(82, 82, 82);
    ul {
      padding-left:0;
    }
    .widget_nav_menu {
      width: 33.3%;
      float: left;
      border-right: solid 1px rgb(194, 194, 194);
      padding-left: 35px;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        }
    }
    .widget_text {
      padding-left: 36px;
      width: 33.3%;
      float: left;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        } 
    }
}

/*=============================================================== 
footer 
================================================================*/

footer {
  background:$grey-6;
  text-align:center;
  color: $grey-1;
  padding: 10px;
  font-size: 12px;

  a {
    color: $grey-1;
  }
}


/*=============================================================== 
Footer Images 
================================================================*/
.footer-images{
  .img-1 {
    height:216px;
    img {
      min-width: 600px;
    }
  }
}


/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em;
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}


.txt-color-1 {
  color: $color-1;
}

.txt-color-2 {
  color: $color-2;
}

.txt-color-3 {
  color: $color-3;
}

.txt-color-4 {
  color: $color-4;
}

.txt-color-5 {
  color: $color-5;
}

.txt-color-6 {
  color: $color-6;
}

/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  color:black;
  display:block;
  font-family:$font-1;
  font-weight: 400;
  font-size:53px;
}

.headline-2 {
  margin-bottom:15px;
  width:100%;
  position:relative;
  color:black;
  font-family:'Open Sans';
  font-weight: 400;
  font-size:22px;
  display: block;
}


.title-1{
  display:block;
  font-family:$font-1;
  font-weight:700;
  font-size:40px;
}

.title-2 {
  padding:0 10px;
  position:relative;
  text-transform:uppercase;
  text-align: center;
  color:$grey-6;
  font-family:'Open Sans';
  font-weight: 400;
  font-size:22px;
  display: block;
  margin:auto;
}


.title-3 {
  display:block;
  font-family:$font-1;
  font-weight:800;
  font-size:18px;
}

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em;
}

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .1em solid $grey-4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

.form-btn-1 {
   color: $grey-1;
  background: $color-1 !important;
}

.btn-1 {
  text-align: center;
  text-transform: uppercase;
  display:inline-block;
  padding:10px 20px;
  color: $grey-1;
  background: $color-1;
  box-shadow:$shadow-1;
}
.btn-1:hover {
  color:$grey-1 !important;
  background: #C31F25;
  box-shadow:none;
}
.btn-1:focus, .btn-1:active {
  background: $color-2;
}

.btn-2 {
   color: $grey-1;
  background: $color-2;
   box-shadow:$shadow-1;
}
.btn-2:hover {
  background: $color-2;
   box-shadow:none;
}
.btn-2:focus, .btn-2:active {
  background: $color-2;
}

.btn-3 {
  font-size: .875em;
  background: $grey-3;
  border:solid 1px grey;
}
.btn-3:hover {
  background: lightgrey;
}
.btn-3:focus, .btn-3:active {
  background: $grey-3;
}

input[type='button'], input[type='submit'], button, .button {
  border: none;
  text-transform: uppercase;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: .8em 1.5em;
  transition: all .3s ease;
  display: block;
  margin-bottom: 15px;
}

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: .25em;
}

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: .875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em;
}

/* =========================================================================
   =objects
   ========================================================================= */
.box-1 {
  font-size:14px;
  border:solid 1px $grey-4;
  border-radius:8px;
  position:relative;
  min-height: 370px;
  .icon {
     position:absolute;
    top:-50px;
    right:0;
    left:0;
    margin:auto;
  }
  .img-1 {
    height:150px;
    border-radius: 8px 8px 0 0;
    img {
      min-width:300px;
    }
  }
  .content{
    padding:10px 20px 30px;
  }
  p {
    color:$grey-6;
  }
  .title-3 {
    text-align: center;
    font-weight:400;
    color:black;
    font-size:1.3em;
  }
  a {
    position:absolute;
    bottom:10px;
    right:20px;
  }
}

.img-1 {
  overflow: hidden;
}

.link-1 {
background:url('../img/icons/link.png') center right no-repeat;
padding-right:25px;
line-height:1em;

}

.border-top {
  border-top:solid 1px $grey-4;
  .title-2 {
    width:250px;
    position:relative;
    top:-18px;
  }
}